@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  color: $dark-grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}
