@import '../styles/core';

.IssueList {
  padding-top: 2rem;

  &__repos {
    display: grid;
    float: left;
    grid-template-rows: 1fr;
    padding: 1rem;
    align-items: start;
  }

  &__repos-row {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 1rem;
    background-color: $light-grey;
    color: $white;

    &:hover, &__repos-row--active {
      font-weight: bold;
      cursor: pointer;
      background-color: $light-purple;
      transition: 0.218s all ease-in-out;
    }
  }

  &__issues {
    display: grid;
    grid-template-rows: 1fr;
  }

  &__issues-row {
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    justify-items: start;
    align-items: center;
    padding: .5rem 0;

    &:hover {
      cursor: pointer;
      background-color: $off-white;
    }
  }

  &__issues-row--header {
    font-weight: bold;
    background-color: $off-white;
    padding: 1rem 0;
  }

  &__issues-row--avatar {
    width: 100%;
  }

  &__issues-row--avatar img {
    height: 40px;
    border-radius: 50%;
  }
}
