@import '../styles/core';

.Nav {
  background-color: $light-grey;
  color: $white;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__avatar img{
    height: 40px;
    border-radius: 50%;
  }
}
