@import '../styles/core';

.Nav {
  background-color: $light-grey;
  color: $white;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: start;

  .login-form {
    display: flex;
    justify-content: space-between;
  }
}
