@import './styles/core';

.App {
  text-align: center;
  padding-bottom: 20rem;

  &__hero {
    height: 50vh;
    background-image: url('images/octocat.png');
    background-color: #F6F8FA;
    background-position: center 20%;
    background-size: 400px;
    background-repeat: no-repeat;
    color: $dark-grey;
    position: relative;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 0 20px;

    @media (min-width: 768px) {
      background-position: 15% 20%;
      background-size: 780px;
      height: 500px;
    }
  }

  &__hero h1 {
    position: absolute;
    bottom: 0;

    @media (max-width: 768px) {
      font-size: 2rem;
      padding-bottom: 10px;
    }
  }
}
